.versus{
   position: absolute;
   background: #f7f8f9;
   border-radius: 100%;
   border: 1px solid #9361D4;
   color: #A788D1;
   font-size: 1.25em;
   height: 78px;
   left: 50%;
   margin-left: -39px;
   padding-top: 22px;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
   width: 78px;
   z-index: 4;
}
.divided {
   position: relative;
   background: #f7f8f9;
}
.divided::after {
   background: linear-gradient(#f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
   width: 1px;
   top: 100px;
   bottom: 100px;
   left: 50%;
   height: auto;
   right: auto;
   position: absolute;
}

@media (max-width: 768px) {
   .divided::after {
       background: linear-gradient(90deg, #f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
       content: "";
       position: absolute;
       top: 50%;
       left: 20px;
       right: 20px;
       height: 1px;
       width: 100%;
   }
}


.border-top-0 {
    border-top:0!important;
}
.border-right-0 {
    border-right: 0!important;
}
.border-left-0 {
    border-left: 0!important;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-sm-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-sm-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-sm-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-sm-top-0 {
        border-top:0!important;
   }
    .border-sm-right-0 {
        border-right: 0!important;
   }
    .border-sm-left-0 {
        border-left: 0!important;
   }
    .border-sm-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-md-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-md-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-md-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-md-top-0 {
        border-top:0!important;
   }
    .border-md-right-0 {
        border-right: 0!important;
   }
    .border-md-left-0 {
        border-left: 0!important;
   }
    .border-md-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-lg-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-lg-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-lg-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-lg-top-0 {
        border-top:0!important;
   }
    .border-lg-right-0 {
        border-right: 0!important;
   }
    .border-lg-left-0 {
        border-left: 0!important;
   }
    .border-lg-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 1200px) {
}
